<div class="row align-center">
  <div class="columns small-11 large-6 card">
    <h2>Add a New Trail</h2>
    <%= simple_form_for @trail do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :length %>
      <%= f.input :elevation %>
      <%= f.submit 'Create New Trail', class: 'button' %>
    <% end %>
  </div>
</div>